section.banner-wrap
	.container
		.banner.home-banner.d-none.d-md-block
			.item
				a.banner-img(href="#!")
					img(src="img/bn1.jpg", alt="")
			.item
				a.banner-img(href="#!")
					img(src="img/bn1.jpg", alt="")
			.item
				a.banner-img(href="#!")
					img(src="img/bn1.jpg", alt="")
		.banner.home-banner.d-block.d-md-none
			.item
				a.banner-img(href="#!")
					img(src="img/bnm.jpg", alt="")
			.item
				a.banner-img(href="#!")
					img(src="img/bnm.jpg", alt="")
			.item
				a.banner-img(href="#!")
					img(src="img/bnm.jpg", alt="")
