section.product-filter
	.filter-wrap
		.category-group
			.filter-group
				.filter-name Danh mục
				.filter-category
					ul
						li.has-sub.active
							a(href="#!") Vali
							.btn-showsub
							.sub
								ul
									li.active
										a(href="#!") Vali nhựa
									li
										a(href="#!") Vali kéo nhựa
									li
										a(href="#!") Vali kéo vải
									li
										a(href="#!") Vali khóa khung
									li
										a(href="#!") Vali kéo nam
									li
										a(href="#!") Vali kéo nữ
									li
										a(href="#!") Vali kéo trẻ em
						li.has-sub
							a(href="#!") Balo
							.btn-showsub
							.sub
								ul
									li
										a(href="#!") Balo nhựa
									li
										a(href="#!") Balo kéo nhựa
									li
										a(href="#!") Balo kéo vải
									li
										a(href="#!") Balo khóa khung
									li
										a(href="#!") Balo kéo nam
									li
										a(href="#!") Balo kéo nữ
									li
										a(href="#!") Balo kéo trẻ em
		.option-group
			.filter-group
				.filter-name Thương hiệu
				.filter-ajax
					ul
						li
							a.active(href="#!") Samsung
						li
							a.active(href="#!") OEM
						li
							a.active(href="#!") Apple
						li
							a(href="#!") Sony
						li
							a(href="#!") ELLE
						li
							a(href="#!") Tracomeco
						li
							a(href="#!") Thaco
						li
							a(href="#!") FPT
						li
							a(href="#!") Mobifone
			.filter-group
				.filter-name Màu sắc
				.filter-ajax
					ul
						li
							a(href="#!") Đỏ
						li
							a.active(href="#!") Cam
						li
							a.active(href="#!") Vàng
						li
							a(href="#!") Lục
						li
							a.active(href="#!") Lam
						li
							a(href="#!") Chamf
						li
							a.active(href="#!") Tím
	.filter-button
		a.btn-reset(href="#!") Khôi phục lại
		a.btn-close(href="#!") Hoàn thành