footer
	.footer-top
		.container
			.row
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.sitelogo
							img(src="img/logo2.png", alt="")
						.company Hạnh phúc đích thực
						nav.social
							a(href="#!")
								i.fa.fa-facebook
							a(href="#!")
								i.fa.fa-youtube-play
							a(href="#!")
								i.fa.fa-google-plus
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.footer-title Liên hệ
						.contact-info
							ul
								li <i class="fa fa-home" aria-hidden="true"></i>166 Nguyễn Thái Học, P. Quang Trung, Tp. Vinh
								li <i class="fa fa-phone" aria-hidden="true"></i>1800 545440
								li <i class="fa fa-envelope" aria-hidden="true"></i>chamsockhachhang@thmilk.vn
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.footer-title Hỗ trợ khách hàng
						nav.footer-link
							a(href="#!") Các câu hỏi thường gặp
							a(href="#!") Hướng dẫn đặt hàng
							a(href="#!") Phương thức vận chuyển
							a(href="#!") Chính sách đổi trả
							a(href="#!") Chính sách hàng nhập khẩu
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.footer-title Sản phẩm
						nav.footer-link
							a(href="#!") TH true NUT
							a(href="#!") TH true MALT
							a(href="#!") TH true HERBAL
							a(href="#!") TH true ICE CREAM
							a(href="#!") TH true BUTTER
							a(href="#!") TH true CHEESE
							a(href="#!") TH true MILK
							a(href="#!") TH true YOGURT
	.footer-bottom
		.container
			.footer-wrap
				.copyright Copyright @ 2018 CTCP Chuỗi Thực phẩm TH. All Right Reserved.
				nav.footer-nav
					img(src="img/bct.png", alt="")
