footer
	.footer-top
		.container
			.row.row-sm
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.sitelogo
							img(src="img/logo2.png", alt="")
						.company Hạnh phúc đích thực
						nav.social
							a(href="#!")
								i.fa.fa-facebook
							a(href="#!")
								i.fa.fa-youtube-play
							a(href="#!")
								i.fa.fa-google-plus
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.footer-title Liên hệ
						.contact-info
							ul
								li <i class="fa fa-home" aria-hidden="true"></i>166 Nguyễn Thái Học, P. Quang Trung, Tp. Vinh
								li <i class="fa fa-phone" aria-hidden="true"></i>1800 545440
								li <i class="fa fa-envelope" aria-hidden="true"></i>chamsockhachhang@thmilk.vn
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.footer-title Hỗ trợ khách hàng
						nav.footer-link
							a(href="#!") Bảo mật thông tin
							a(href="#!") Chính sách giao hàng
							a(href="#!") Điều khoảng đổi trả
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.footer-title 
							a(href="#!") Mã khuyến mãi
						.footer-title 
							a(href="#!") chương trình khuyến mãi
						.footer-title 
							a(href="#!") KHẢO SÁT

	.footer-bottom
		.container
			.footer-wrap
				.copyright Copyright @ 2018 CTCP Chuỗi Thực phẩm TH. All Right Reserved.
				nav.footer-nav
					img(src="img/bct.png", alt="")
