footer
	.footer-top
		.container
			.row
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.footer-title Giới thiệu
						nav.footer-link
							a(href="#!") Tổng quan
							a(href="#!") Lich sử phát triển
							a(href="#!") Tầm nhìn - Sứ mệnh
							a(href="#!") Văn hoá doanh nghiệp
							a(href="#!") Bộ máy tổ chức
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.footer-title Lĩnh vực hoạt động
						nav.footer-link
							a(href="#!") Xuất nhập khẩu dầu thô và kinh doanh dầu quốc tế
							a(href="#!") Kinh doanh phân phối các sản phẩm dầu
							a(href="#!") Sản xuất chế biến xăng dầu, dầu mỡ nhờn, nhiên liệu sinh học
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.footer-title Quan hệ cổ đông
						nav.footer-link
							a(href="#!") Công bố thông tin
							a(href="#!") Đại hội cổ đông
							a(href="#!") Điều lệ & Quy chế quản trị công ty
							a(href="#!") Báo cáo thường niên
							a(href="#!") Báo cáo quản trị
							a(href="#!") Báo cáo tài chính
							a(href="#!") Bản cáo bạch
							a(href="#!") Tin cổ đông
				.col-12.col-sm-6.col-md-6.col-lg-3
					section.footer-col
						.footer-title Truyền thông
						nav.footer-link
							a(href="#!") Tin PVOIL
							a(href="#!") Tin ngành dầu khí
							a(href="#!") Giá xăng dầu & Thông báo quỹ bình ổn giá
							a(href="#!") Video
							a(href="#!") Poster quảng cáo
							a(href="#!") Thông cáo báo chí
	.footer-bottom
		.container
			.footer-intro
				.about
					.logo
						img(src="img/pvlogo.png", alt="")
					.des
						.company Tổng công ty Dầu Việt Nam - CTCP
						ul
							li Tầng 14-18, Toà nhà PetroVietnam Tower - Số 1-5 Lê Duẩn, Phường Bến Nghé, Quận 1, TpHCM
							li Điện thoại: (84 - 28) 39106990 
							li Fax: (84 - 28) 39106980
				.social-wrap
					label Liên kết nhanh
					.social
						a(href="#!") <i class="fa fa-mobile" aria-hidden="true"></i>
						a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
						a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
						a(href="#!") <i class="fa fa-google-plus" aria-hidden="true"></i>
						a(href="#!") <i class="fa fa-comment" aria-hidden="true"></i>
			.footer-wrap
				nav.footer-nav
					a(href="#!") Điều khoản & Điều kiện sử dụng
					a(href="#!") Sitemap
				.copyright Copyright © 2018 PVOIL. All right reserved. Designed by Cánh Cam.
