header
	section.header-top
		.container
			.header-wrap
				.col-right
					.hotline
						a(href="#!") 
							i.material-icons phone
							|1800 545440
					.help
						a(href="#!")
							i.material-icons help
							|Hỗ trợ
	section.header-main
		.container
			.header-wrap
				.btn-showmenu 
					i.material-icons menu
				.overlay
				.sitelogo
					a(href="#!")
						img(src="img/logo.png", alt="")
				.search
					.searchbox
						input(type="text" placeholder="Tìm kiếm sản phẩm...")
						.searchbutton 
							i.mi search
				.col-right
					.login
						a(href="#!")
							.material-icons person
							.text
								strong Đăng nhập
								|Tài khoản
					.cart
						.cart-toggle
							i.material-icons shopping_cart
							|Giỏ hàng
							span.cart-amount (2)
					.search-toggle
						i.material-icons search
	section.header-menu
		.container
			.menu-wrap
				.menu1
					.menu-title 
						i.material-icons menu
						.text Danh mục sản phẩm
					ul.menu-link
						li.has-mega
							a(href="#!")
								.icon
									img(src="img/ic1.png", alt="")
								.text Sản Phẩm
							.mega
								.mega-col
									ul.mega-link
										li
											a(href="#!") BƠ & PHOMAT
											.mega-sub
												ul
													li
														a(href="#!") Sữa tươi A2
													li
														a(href="#!") Sữa tươi thanh trùng
													li
														a(href="#!") Sữa tươi tiệt trùng
													li
														a(href="#!") Sữa tươi công thức
										li
											a(href="#!") KEM
										li
											a(href="#!") SỮA CHUA TỰ NHIÊN
										li
											a(href="#!") SỮA TƯƠI
										li
											a(href="#!") THỨC UỐNG TỐT CHO SỨC KHỎE
										li
											a(href="#!") SỮA HẠT
								.mega-col
									.menu-banner
										a.d-block(href="#!")
											img.w-100(src="img/bn1.jpg", alt="")
						li
							a(href="#!")
								.icon
									img(src="img/ic2.png", alt="")
								.text Chương Trình Khuyến Mãi
						li
							a(href="#!")
								.icon
									img(src="img/ic3.png", alt="")
								.text Sản Phẩm Đã Mua
						li
							a(href="#!")
								.icon
									img(src="img/ic4.png", alt="")
								.text Mã Khuyến Mãi
						li
							a(href="#!")
								.icon
									img(src="img/ic5.png", alt="")
								.text Khảo Sát
						li
							a(href="#!")
								.icon
									img(src="img/ic6.png", alt="")
								.text Hóa Đơn Điện Tử
				.menu2
					ul.menu-link
						li
							a(href="#!") 
								.text SẢN PHẨM ƯA THÍCH
						li
							a(href="#!") 
								.text SẢN PHẨM MỚI
						li
							a(href="#!") 
								.text SẢN PHẨM KHUYẾN MÃI
						li
							a(href="#!") 
								.text LIÊN HỆ
