header
	section.header-top
		.container
			.header-wrap
				.top-link
					a(href="#!")
						img(src="img/thicon.png", alt="")
						|TH MILK
				.hotline
					a(href="#!") 
						i.material-icons phone
						|1800 545440
				.col-right
					.help
						a(href="#!")
							i.material-icons help
							|Hỗ trợ
					.language
						a(href="#!")
							i.material-icons language
							|VN
	section.header-main
		.container
			.header-wrap
				.btn-showmenu 
					i.material-icons menu
				.sitelogo
					a(href="#!")
						img(src="img/logo.png", alt="")
				.search
					.searchbox
						input(type="text" placeholder="Tìm kiếm sản phẩm...")
						.searchbutton 
							i.material-icons search
				.col-right
					.login
						a(href="#!")
							.material-icons person
							.text
								strong Đăng nhập
								|Tài khoản
					.cart
						.cart-toggle
							i.material-icons shopping_cart
							|Giỏ hàng
							span.cart-amount (2)
					.search-toggle
						i.material-icons search
	section.header-menu
		.container
			.menu-wrap
				.menu1
					.menu-title 
						i.material-icons menu
						.text Danh mục sản phẩm
					ul.menu-link
						li
							a(href="#!")
								.icon
									img(src="img/ic1.png", alt="")
								.text TH true NUT
						li
							a(href="#!")
								.icon
									img(src="img/ic2.png", alt="")
								.text TH true MALT
						li
							a(href="#!")
								.icon
									img(src="img/ic3.png", alt="")
								.text TH true HERBAL
						li
							a(href="#!")
								.icon
									img(src="img/ic4.png", alt="")
								.text TH true ICE CREAM
						li
							a(href="#!")
								.icon
									img(src="img/ic5.png", alt="")
								.text TH true BUTTER
						li
							a(href="#!")
								.icon
									img(src="img/ic6.png", alt="")
								.text TH true CHEESE
						li
							a(href="#!")
								.icon
									img(src="img/ic7.png", alt="")
								.text TH true MILK
						li
							a(href="#!")
								.icon
									img(src="img/ic8.png", alt="")
								.text TH true YOGURT
				.menu2
					ul.menu-link
						li
							a(href="#!") 
								.text SẢN PHẨM ƯA THÍCH
						li
							a(href="#!") 
								.text SẢN PHẨM MỚI
						li
							a(href="#!") 
								.text SẢN PHẨM KHUYẾN MÃI
						li
							a(href="#!") 
								.text LIÊN HỆ