.container
	section.content-page
		h1.home-title.text-center Chính sách giao hàng
		.content
			h6 
				strong 1. Đặt hàng và xác nhận đơn hàng
			ul
				li Khi quý khách đặt hàng tại 
					a(href="#!") thmilk.vn
					|, chúng tôi sẽ nhận được yêu cầu đặt hàng. Tuy nhiên, yêu cầu đặt hàng cần thông qua một bước xác nhận đơn hàng, thmilk.vn chỉ xác nhận đơn hàng nếu yêu cầu đặt hàng của quý khách thỏa mãn các tiêu chí thực hiện đơn hàng tại thmilk.vn.
				li Để yêu cầu đặt hàng được xác nhận nhanh chóng, quý khách vui lòng cung cấp đúng và đầy đủ các thông tin liên quan đến việc giao nhận, hoặc các điều khoản và điều kiện của chương trình khuyến mãi (nếu có) mà quý khách tham gia.
			h6
				strong 4. Giá trị đơn hàng và hình thức thanh toán
			p thmilk.vn cung cấp các hình thức thanh toán: tiền mặt khi nhận hàng.
			h6
				strong 5. Chương trình khuyến mã
			ul
				li Với mong muốn mang lại nhiều lợi ích cho khách hàng, thmilk.vn có các chương trình giảm giá đặc biệt. Tuy nhiên, để đảm bảo tính công bằng cho khách hàng là người tiêu dùng cuối cùng của 
					a(href="#!") thmilk.vn
					|, chúng tôi có quyền từ chối các đơn hàng không nhằm mục đích sử dụng cho cá nhân, mua hàng số lượng nhiều hoặc với mục đích mua đi bán lại khi quý khách tham gia các chương trình khuyến mãi.
				li Thể lệ của chương trình khuyến mãi sẽ được cập nhật tại trang khuyến mãi theo từng thời điểm chạy chương trình và có thể được thay đổi mà không cần thông báo trước cho khách hàng.
				li thmilk.vn có quyền từ chối các đơn hàng không thỏa mãn điều khoản và điều kiện tham gia các chương trình khuyến mãi mà không cần thông báo đến khách hàng. Vì vậy, xin quý khách vui lòng tham khảo kĩ Thể lệ của từng chương trình trước khi tham gia.
			table.mb-4.table-styled
				thead
					tr
						th KHU VỰC GIAO HÀNG
						th GIÁ CẢ
				tbody
					tr
						td 
							p Hiện tại Dịch vụ Giao hàng tận nhà đã được áp dụng cho khách hàng tại khu vực nội thành Hà Nội và một số quận tại Tp Hồ Chí Minh bao gồm: Quận 1, Quận 3, Quận 4, Quận 7, Quận 10, Quận Phú Nhuận và Quận Bình Thạnh 
							ul
								li Số lượng tối thiểu cho mỗi đơn hàng là 01 thùng
								li Nhân viên của TH true mart sẽ giao hàng trong vòng 48h và miễn phí vận chuyển
								li Nhận hàng và thanh toán ngay tại nhà của Quý khách hàng
						td
							ul
								li Giá cả sản phẩm được niêm yết tại 
									a(href="#!") thmilk.vn
									| là giá bán cuối cùng đã bao gồm thuế Giá trị gia tăng (VAT). 
								li Giá cả của sản phẩm có thể thay đổi tùy thời điểm và chương trình khuyến mãi kèm theo.
								li Mặc dù chúng tôi cố gắng tốt nhất để bảo đảm rằng tất cả các thông tin và giá hiển thị là chính xác đối với từng sản phẩm, đôi khi sẽ có một số trường hợp bị lỗi hoặc sai sót. 
								li Nếu chúng tôi phát hiện lỗi về giá của bất kỳ sản phẩm nào trong đơn hàng của quý khách, chúng tôi sẽ thông báo cho quý khách trong thời gian sớm nhất có thể và gửi đến quý khách lựa chọn để xác nhận lại đơn hàng với giá chính xác hoặc hủy đơn hàng. 
								li Nếu chúng tôi không thể liên lạc với quý khách, đơn hàng sẽ tự động hủy trên hệ thống.
			h6
				strong 6. Thông tin sản phẩm
			p Chúng tôi tự tin và tự hào mang đến chuỗi sản phẩm được làm hoàn toàn từ sữa tươi sạch nguyên chất của Trang trại TH, không những thơm ngon, bổ dưỡng mà còn hỗ trợ tiêu hóa, tăng cường miễn dịch giúp nâng cao thể chất, phát triển trí tuệ, cho cuộc sống tươi khỏe mỗi ngày.
			p Hướng dẫn bảo quản và sử dụng:
			ul
				li Sữa tươi và sữa chua uống tiệt trùng bao bì hộp giấy có hạn sử dụng từ 6 – 8 tháng, bảo quản ở nhiệt độ thường.
				li Sữa tươi tiệt trùng bổ sung dưỡng chất bao bì chai nhựa có hạn sử dụng 4 tháng, bảo quản ở nhiệt độ thường.
				li Sữa chua ăn và sữa chua uống men sống có hạn sử dụng 45 ngày, bảo quản lạnh ở nhiệt độ 4 - 8 độ C.
				li Sữa tươi thanh trùng công nghệ ESL có hạn sử dụng 30 ngày, bảo quản lạnh ở nhiệt độ 2 – 6 độ C.
			p Với qui trình sản xuất khép kín, công nghệ đóng gói hiện đại cùng nguồn nguyên liệu sữa tươi sạch nguyên chất nên các sản phẩm sữa TH luôn đảm bảo chất lượng tốt, khách hàng hoàn toàn yên tâm dù chỉ còn 1 ngày hạn sử dụng.


