.container
	section.login-page
		.form-wrap
			.module-title Vui lòng nhập số OTP được gửi 
				br
				|đến điện thoại của bạn
			.form-group
				label Mật khẩu MỚI
				input(type="text" placeholder="Nhập mật khẩu mới")
			.form-group
				label Nhập lại Mật khẩu MỚI
				input(type="password" placeholder="Nhập lại mật khẩu mới")
			.form-group.mb-4
				label Mã OTP
				input(type="password" placeholder="Nhập mã OTP")
			input(type="submit", value="đỔI MẬT KHẨU")

