.container
	section.login-page
		.form-wrap
			.module-title Đăng ký
			.form-group
				label Họ tên
				input(type="text" placeholder="Nhập họ và tên của bạn")
			.form-group
				label Số điện thoại
				input(type="password" placeholder="Nhập số điện thoại của bạn")
			.checkbox.mb-4
				input#remember(type="checkbox", name="remember")
				label(for="remember") Tôi đồng ý với 
					a(href="#!") điều khoản sử dụng của TH
			input(type="submit", value="Đăng ký")
			a.btn-register(href="#!") Đăng nhập
			.text-center.mt-3
				a.forget(href="#!") Quên mật khẩu?

