.container
	section.content-page
		h1.home-title ĐIỀU KHOẢN SỬ DỤNG
		.content
			p Website 
				a(href="#!") www.thmilk.vn 
				|là kênh thông tin chính thức của Công ty Cổ phần Chuỗi thực phẩm TH, địa chỉ trụ sở chính tại số 166, đường Nguyễn Thái Học, p.Quang Trung, tp.Vinh, tỉnh Nghệ An, sau đây được gọi là "chúng tôi".
			p Khi quý khách truy cập vào trang web của chúng tôi có nghĩa là quý khách đồng ý với các điều khoản đựơc nêu trên trang web. Trang web có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Quy định và Điều kiện sử dụng, vào bất cứ lúc nào, các thay đổi có hiệu lực ngay khi được đăng trên trang web mà không cần thông báo trước.Quý khách vui lòng kiểm tra thường xuyên để cập nhật những thay đổi của chúng tôi.
			p.mb-4 Xin vui lòng đọc kỹ trước khi bắt đầu:
			h5.text-uppercase.text-500 1. Hướng dẫn sử dụng web
			p Nghiêm cấm sử dụng bất kỳ phần nào của trang web này với mục đích thương mại nếu không được chúng tôi cho phép bằng văn bản. Nếu vi phạm bất cứ điều nào trong đây, chúng tôi sẽ hủy giấy phép của bạn mà không cần báo trước.
			p Quý khách phải đăng ký tài khoản với thông tin xác thực về bản thân và phải cập nhật nếu có bất kỳ thay đổi nào. Mỗi người truy cập phải có trách nhiệm với mật khẩu, tài khoản và hoạt động của mình trên web. Hơn nữa, quý khách phải thông báo cho chúng tôi biết khi tài khoản bị truy cập trái phép. Chúng tôi không chịu bất kỳ trách nhiệm nào, dù trực tiếp hay gián tiếp, đối với những thiệt hại hoặc mất mát gây ra do quý khách không tuân thủ quy định.
			p Trong suốt quá trình đăng ký, quý khách đồng ý nhận email quảng cáo từ website. Sau đó, nếu không muốn tiếp tục nhận mail, quý khách có thể từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng cáo.
			h5.text-uppercase.text-500 2. Ý kiến khách hàng
			p Tất cả nội dung trang web và ý kiến phê bình của quý khách đều là tài sản của chúng tôi. Nếu chúng tôi phát hiện bất kỳ thông tin giả mạo nào, chúng tôi sẽ khóa tài khoản của quý khách ngay lập tức hoặc áp dụng các biện pháp khác theo quy định của pháp luật Việt Nam.
			h5.text-uppercase.text-500 3. Đặt hàng và xác nhận đơn hàng
			p Khi quý khách đặt hàng tại 
				a(href="#!") thmilk.vn
				|, chúng tôi sẽ nhận được yêu cầu đặt hàng. Tuy nhiên, yêu cầu đặt hàng cần thông qua một bước xác nhận đơn hàng, thmilk.vn chỉ xác nhận đơn hàng nếu yêu cầu đặt hàng của quý khách thỏa mãn các tiêu chí thực hiện đơn hàng tại 
				a(href="#!") thmilk.vn
				|.
			p Để yêu cầu đặt hàng được xác nhận nhanh chóng, quý khách vui lòng cung cấp đúng và đầy đủ các thông tin liên quan đến việc giao nhận, hoặc các điều khoản và điều kiện của chương trình khuyến mãi (nếu có) mà quý khách tham gia.
			h5.text-uppercase.text-500 4. Giá trị đơn hàng và hình thức thanh toán
			p 
				a(href="#!") thmilk.vn 
				|cung cấp các hình thức thanh toán: tiền mặt khi nhận hàng.
			h5.text-uppercase.text-500 5. Chương trình khuyến mãi
			p Với mong muốn mang lại nhiều lợi ích cho khách hàng, thmilk.vn có các chương trình giảm giá đặc biệt. Tuy nhiên, để đảm bảo tính công bằng cho khách hàng là người tiêu dùng cuối cùng của thmilk.vn, chúng tôi có quyền từ chối các đơn hàng không nhằm mục đích sử dụng cho cá nhân, mua hàng số lượng nhiều hoặc với mục đích mua đi bán lại khi quý khách tham gia các chương trình khuyến mãi.

