.container
	section.login-page
		.form-wrap
			.module-title XÁC NHẬN ĐĂNG KÍ
			.form-des.text-center.text-black.mb-4 Vui lòng nhập số OTP được gửi đến điện thoại của bạn
			.form-group
				label Mã OTP
				input(type="text" placeholder="Nhập Mã OTP")
			.form-group
				label Mật khẩu 
				input(type="password" placeholder="Nhập mật khẩu ")
			.form-group.mb-4
				label Nhập lại Mật khẩu 
				input(type="password" placeholder="Nhập lại mật khẩu ")
			input(type="submit", value="Đăng kí")

