.container
	section.login-page
		.form-wrap
			.module-title Đăng nhập
			.form-group
				label Số điện thoại
				input(type="text" placeholder="Nhập số điện thoại của bạn")
			.form-group
				label Mật khẩu
				input(type="password" placeholder="Nhập mật khẩu của bạn")
			.remember.checkbox
				input#remember(type="checkbox", name="remember")
				label(for="remember") Nhớ mật khẩu
			input(type="submit", value="Đăng nhập")
			a.btn-register(href="#!") Đăng ký
			.text-center.mt-3
				a.forget(href="#!") Quên mật khẩu?

