.container
	section.cart-page
		.home-title Giỏ hàng
		.row
			.col-12.col-lg-8
				.cart-list
					.item
						.product
							.img
								img(src="img/pd1.jpg", alt="")
							.caption
								.name Sữa Chua Uống Tiệt Trùng công thức TOP KID Hương Dâu tự nhiên 110ml
								.price
									.new 15.000đ
									.old 18.000đ
								a.btn-remove(href="#!") <i class="fa fa-trash-o" aria-hidden="true"></i>
						.amount
							select
								option 2
							.total 30.000đ
					.item
						.product
							.img
								img(src="img/pd2.jpg", alt="")
							.caption
								.name Sữa Chua Uống Tiệt Trùng công thức TOP KID Hương Dâu tự nhiên 110ml
								.price
									.new 15.000đ
									.old 18.000đ
								a.btn-remove(href="#!") <i class="fa fa-trash-o" aria-hidden="true"></i>
						.amount
							select
								option 2
							.total 30.000đ
					.item
						.product
							.img
								img(src="img/pd3.jpg", alt="")
							.caption
								.name Sữa Chua Uống Tiệt Trùng công thức TOP KID Hương Dâu tự nhiên 110ml
								.price
									.new 15.000đ
									.old 18.000đ
								a.btn-remove(href="#!") <i class="fa fa-trash-o" aria-hidden="true"></i>
						.amount
							select
								option 2
							.total 30.000đ
			.col-12.col-lg-4
				.cart-sidebar
					.cart-point
						.cart-title
							.icon
								img(src="img/ci1.png", alt="")
							.text Bạn có 10 điểm TH true POINT
						.form-wrap
							.form-group
								input(type="text" placeholder="Nhập số điểm TH true POINT muốn tiêu")
					.cart-promotion
						.cart-title
							.icon
								img(src="img/ci2.png", alt="")
							.text Mã khuyến mãi
						.form-wrap
							.form-group.coupon
								input(type="text" placeholder="Vui lòng nhập mã khuyến mãi")
								button.btn-submitcoupon Sử dụng
					.cart-total
						.total Tổng tiền
							strong 90.000 đ
						.btn-wrap
							a.btn-continue(href="#!") Thanh toán
