section.home-news
	.section-bg(style="background:url(img/bg1.png) center bottom no-repeat")
	.container
		h1.home-title.text-center 
			a(href="#!") Thông tin nổi bật
		.ads-list
			.row
				.col-12.col-md-6
					a.ads(href="#!")
						img(src="img/ad1.jpg", alt="")
				.col-12.col-md-6
					a.ads(href="#!")
						img(src="img/ad2.jpg", alt="")
		.row
			.col-12.col-md-6.col-lg-4
				.news-wrap
					h2.page-title
						a(href="#!") Tin PVOIL
					.news-list
						.item
							a.news-bigitem(href="#!")
								.img
									img(src="img/n1.jpg", alt="")
								.caption
									time 30.07.2018
									h3.name PVOIL: Kết quả sản xuất kinh doanh 6 tháng đầu năm 2018
						.item
							a.news-item(href="#!")
								time 30.07.2018
								h3.name Chủ tịch Hội đồng thành viên PVN Trần Sỹ Thanh làm việc tại PVOIL
						.item
							a.news-item(href="#!")
								time 30.07.2018
								h3.name PVOIL đánh dấu chặng đường 10 năm
						.item
							a.news-item(href="#!")
								time 30.07.2018
								h3.name PVOIL gặp mặt các cổ đông, nhà đầu tư
						.item
							a.news-item(href="#!")
								time 30.07.2018
								h3.name PVOIL đạt kết quả khả quan trong 04 tháng đầu năm 2018
						.item
							a.news-item(href="#!")
								time 30.07.2018
								h3.name Chủ tịch Hội đồng thành viên PVN kiểm tra tình hình Nhà máy nhiên liệu sinh học Bình Phước
			.col-12.col-md-6.col-lg-4
				.news-wrap
					h2.page-title
						a(href="#!") Tin PVOIL
					.news-list
						.item
							a.news-bigitem(href="#!")
								.img
									img(src="img/n2.jpg", alt="")
								.caption
									time 30.07.2018
									h3.name Chủ tịch HĐTV Tập đoàn Dầu khí Việt Nam Trần Sỹ Thanh tiếp Đại sứ đặc mệnh toàn quyền Các Tiểu vương quốc Ả-rập 
						.item
							a.news-bigitem(href="#!")
								.img
									img(src="img/n3.jpg", alt="")
								.caption
									time 30.07.2018
									h3.name Ký kết hợp đồng hợp tác gia công sợi DTY của NMXS Đình Vũ
			.col-12.col-md-12.col-lg-4
				.news-wrap.s2
					.small-title
						a(href="#!") Thông cáo báo chí
					.news-list2
						.item
							a.news-item(href="#!") Thông báo mời tham dự Đại hội cổ đông lần thứ nhất
						.item
							a.news-item(href="#!") Thông báo: PVOIL tạm hoãn quá trình lựa chọn Nhà đầu tư chiến lược
				.news-wrap.s2
					.small-title
						a(href="#!") Tin giá xăng dầu và thông báo quỹ bình ổn giá
					.news-list2
						.item
							a.news-item(href="#!") PVOIL điều chỉnh giá bán lẻ, bán buôn xăng dầu từ 15 giờ 00 ngày 23/07/2018
						.item
							a.news-item(href="#!") PVOIL điều chỉnh giá bán lẻ, bán buôn xăng dầu từ 15 giờ 00 ngày 07/07/2018
						.item
							a.news-item(href="#!") PVOIL điều chỉnh giá bán lẻ, bán buôn xăng dầu từ 15 giờ 00 ngày 22/06/2018
				.news-wrap.s2
					.small-title
						a(href="#!") Bảng giá xăng (VNĐ/ lít)
					.banggia
						img(src="img/banggia.png", alt="")
					.des Giá từ 15 giờ 00 ngày 23/07/2018

section.home-news2
	.section-bg(style="background:url(img/bg2.png) center bottom no-repeat")
	.container
		h2.home-title.text-center Tin cổ đông
		.news-wrap
			.news-list
				.row
					.col-12.col-md-6
						a.news-bigitem(href="#!")
							.img
								img(src="img/n4.jpg", alt="")
							.caption
								h3.name Quyết định về việc chấp nhận đăng ký giao dịch cổ phần của Tổng công ty Dầu Việt Nam
								.link Chi tiết
					.col-12.col-md-6
						a.news-item(href="#!")
							.img
								img(src="img/n5.jpg", alt="")
							.caption
								h3.name Thông báo ngày giao dịch đầu tiên cổ phần đăng ký giao dịch của Tổng công ty Dầu Việt Nam
								.link Chi tiết
						a.news-item(href="#!")
							.img
								img(src="img/n6.jpg", alt="")
							.caption
								h3.name Quy chế bán đấu giá cổ phần lần đầu ra công chúng của Tổng công ty Dầu Việt Nam
								.link Chi tiết
		.btn-wrap.text-center
			a.btn-viewmore(href="#!") Xem thêm
section.home-overview
	.section-bg(style="background:url(img/bg3.png) center center no-repeat")
	.container
		h2.home-title.text-center.text-white Tổng quan PVOIL
		.home-des.text-center.text-white(style="max-width:650px") PVOIL không ngừng phấn đấu để nâng cao chất lượng dịch vụ, tính chuyên nghiệp và hiệu quả trên hành trình phát triển hướng đến tương lai.
		.overview-wrap
			.overview-list
				.item
					.overview-item
						.icon
							img(src="img/o1.png", alt="")
						.name 60.081 tỷ VNĐ
						.des doanh thu năm 2017
				.item
					.overview-item
						.icon
							img(src="img/o2.png", alt="")
						.name 6.000
						.des nhân viên
				.item
					.overview-item
						.icon
							img(src="img/o3.png", alt="")
						.name 10.342 tỷ VNĐ
						.des vốn điều lệ
				.item
					.overview-item
						.icon
							img(src="img/o4.png", alt="")
						.name 7 triệu tấn/năm
						.des Cung cấp dầu thô cho nhà máy lọc dầu Dung Quất
				.item
					.overview-item
						.icon
							img(src="img/o5.png", alt="")
						.name 15 triệu tấn/năm
						.des xuất bán dầu thô
				.item
					.overview-item
						.icon
							img(src="img/o6.png", alt="")
						.name 600.000 m<sup>3</sup>/tấn/năm
						.des chế biến sản phẩm dầu, dầu mỡ nhờn, nhiên liệu sinh học
				.item
					.overview-item
						.icon
							img(src="img/o7.png", alt="")
						.name 962.000 m<sup>3</sup>
						.des Tổng sức chứa kho xăng dầu
				.item
					.overview-item
						.icon
							img(src="img/o8.png", alt="")
						.name 3,2 triệu m<sup>3</sup>/năm
						.des Phân phối xăng dầu, chiếm 22% thị phần
				.item
					.overview-item
						.icon
							img(src="img/o9.png", alt="")
						.name 540
						.des Cửa hàng xăng dầu trực thuộc
				.item
					.overview-item
						.icon
							img(src="img/o10.png", alt="")
						.name 3.000+
						.des Cửa hàng xăng dầu đại lý
		.btn-wrap.text-center
			a.btn-viewmore(href="#!") Xem thêm
section.home-service
	.section-bg(style="background:url(img/bg4.png) center bottom no-repeat")
	.container
		h2.home-title.text-center Lĩnh vực hoạt động
		.home-des.text-center(style="max-width:600px") Lấy con người và môi trường làm trọng tâm, cùng chia sẻ kết quả với đối tác, theo đuổi đến cùng mục tiêu kinh doanh.
		.service-wrap
			.service-list
				.row
					.col-12.col-md-4.item
						.service-item
							.img
								img(src="img/s1.png", alt="")
							.caption
								.name Xuất nhập khẩu dầu thô và kinh doanh dầu quốc tế
								.des Xuất nhập khẩu và kinh doanh dầu thô là lĩnh vực đặc thù tạo nên sự khác biệt của PVOIL. Năm 2011, PVOIL đã thành lập công ty thành viên tại (PVOIL Singapore) để triển khai kinh doanh dầu thô quốc tế
								.btn-wrap.text-center 
									.link +
					.col-12.col-md-4.item
						.service-item
							.img
								img(src="img/s2.png", alt="")
							.caption
								.name Kinh doanh phân phối các sản phẩm dầu
								.des Trong những năm gần đây, mặc dù doanh nghiệp đầu mối kinh doanh xăng dầu có sự gia tăng đột biến về số lượng nhưng PVOIL vẫn khẳng định được vị trí thứ 2 trên thị trường xăng dầu với sản lượng trên 3 triệu m3/tấn/năm, chiếm khoảng 22% thị phần trong nước.
								.btn-wrap.text-center 
									.link +
					.col-12.col-md-4.item
						.service-item
							.img
								img(src="img/s3.png", alt="")
							.caption
								.name Sản xuất chế biến xăng dầu, dầu mỡ nhờn, nhiên liệu sinh học
								.des PVOIL đang từng bước hiện đại hoá, đa dạng hoá, nâng cao chất lượng sản phẩm nhằm đáp ứng thị trường trong nước và các nước trong khu vực.
								.btn-wrap.text-center 
									.link +
section.home-video-wrap
	.section-bg(style="background:url(img/bg5.png) left bottom no-repeat")
	.container
		.row
			.col-12.col-md-6
				.home-video
					h2.page-title2 Video
					a.video(href="#!")
						img(src="img/video.jpg", alt="")
			.col-12.col-md-6
				.home-ads
					h2.page-title2 Quảng cáo
					a.ads(href="#!")
						img(src="img/ads.jpg", alt="")
section.home-system
	.section-bg(style="background:url(img/bg6.png) center bottom no-repeat")
	.container
		h2.home-title.text-center.text-white Mạng lưới
		.home-des.text-center.text-white(style="max-width:600px") Chúng tôi kết nối khách hàng với các sản phẩm chất lượng cao thông qua các hoạt dộng cung cấp, tồn trữ và phân phối
		.system-filter.text-center
			.item
				a.system-item(href="#!")
					img(src="img/o10.png", alt="")
					.name Hệ thống cửa hàng xăng dầu
			.item
				a.system-item(href="#!")
					img(src="img/o7.png", alt="")
					.name Hệ thống kho xăng dầu
		.system-map
			img(src="img/map.jpg", alt="")