.container
	section.cart-page
		.row
			.col-12.col-lg-8
				//- .location-choice
					ul
						li.active
							a(href="#!") <i class="fa fa-home" aria-hidden="true"></i> Giao hàng tại nhà
						li
							a(href="#!") <i class="fa fa-building-o" aria-hidden="true"></i> Nhận tại cửa hàng
				.home-title Hình thức thanh toán
				.payment-list
					.item
						.payment
							.bank.text-center
								img(src="img/master.png", alt="")
							.name Nguyễn Hoàng yến
							.phone XXCX - XXXX - XXXX - 5382
							.des.text-uppercase Ngày hết hạn
								span.d-block.text-black 22/01
							.default Hình thức thanh toán mặc định
							.btns
								a(href="#!") 
									i.material-icons delete
								a(href="#!") 
									i.material-icons edit
								a(href="#!") 
									i.material-icons credit_card
					.item
						.payment
							.bank.text-center
								img(src="img/acb.png", alt="")
							.name Nguyễn Hoàng yến
							.phone XXCX - XXXX - XXXX - 5382
							.des.text-uppercase Ngày hết hạn
								span.d-block.text-black 22/01
							.btns
								a(href="#!") 
									i.material-icons delete
								a(href="#!") 
									i.material-icons edit
								a(href="#!") 
									i.material-icons credit_card
			.col-12.col-lg-4
				.cart-sidebar
					.cart-price
						.group
							.label Tạm tính:
							.value 90.000 đ
						.group
							.label Giảm giá:
							.value 0 đ
					.cart-total
						.total Tổng tiền
							strong 90.000 đ
						.btn-wrap
							a.btn-continue(href="#!") Thanh toán
		.btn-wrap.text-center
			a.btn-addcard(href="#!") THÊM HÌNH THỨC THANH TOÁN MỚI
