.container
	section.promotion-page
		h1.home-title.text-center Chương trình khuyến mãi
		.promotion-list
			.item
				a.promotion-item(href="#!")
					img(src="img/ads1.jpg", alt="")
			.item
				a.promotion-item(href="#!")
					img(src="img/ads2.jpg", alt="")
			.item
				a.promotion-item(href="#!")
					img(src="img/ads3.jpg", alt="")
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
