.container
	section.page-banner
		img(src="img/proad1.jpg", alt="")
	section.promotion-page
		h1.home-title.text-center.promotion-title Hạ nhiệt mùa hè với chương trình ưu đãi mua 4 hộp tặng 1 hộp cùng loại
		time.d-block.text-center.pro-time Từ ngày 26 - 11 - 2018 đến ngày 20 - 12 - 2018
		.content
			h6.text-uppercase
				strong Giới thiệu
			p Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis imperdiet, diam quis viverra semper, tortor enim mattis nisl, non posuere felis massa ut risus. Pellentesque egestas mauris a urna efficitur pretium sed vel quam. Suspendisse tellus elit, ultricies vel justo nec, porta fringilla sapien.
			h6.text-uppercase
				strong Thông tin chương trình
			p Vestibulum nec interdum orci. Pellentesque tempus urna odio, sit amet maximus est porta in. Proin euismod auctor neque nec tristique. Donec vel dignissim dui, id ullamcorper ex. Vivamus et lobortis erat. Mauris interdum massa quis sodales condimentum. In sit amet fringilla massa, id dignissim augue. Nulla gravida semper tristique. Nunc consequat sem non finibus congue. Proin sit amet hendrerit nunc. Proin et quam eget quam feugiat blandit. Integer blandit eros lorem, nec volutpat nibh sollicitudin eget. Cras feugiat consectetur turpis.Nulla gravida semper tristique. Nunc consequat sem non finibus congue. Proin sit amet hendrerit nunc. Proin et quam eget quam feugiat blandit. Integer blandit eros lorem, nec volutpat nibh sollicitudin eget. Cras feugiat consectetur turpis.
			h6.text-uppercase
				strong Điều kiện và Điều khoản tham gia
			ul
				li Ut scelerisque, urna sed efficitur gravida, elit urna ullamcorper turpis, varius interdum tortor est at ipsum.
				li Nam ultrices accumsan facilisis. In sed lectus eget orci commodo viverra.
		.btn-wrap.text-center
			a.btn-join(href="#!") Tham gia
