.container
	section.survey-page
		h1.home-title.text-center.survey-title Ý kiến khách hàng về dòng sữa tươi mới TH true MILK
		.survey-des.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. 
			br
			|Risus commodo viverra maecenas accumsan lacus vel facilisis. 
		.survey-form
			.form-group
				label.w-100 1. Xin anh/chị vui lòng cho biết giới tính?
				ul
					li.radio 
						input#rd1(type="radio", name="rd1")
						label(for="rd1") Nam
					li.radio 
						input#rd2(type="radio", name="rd1")
						label(for="rd2") Nữ
			.form-group
				label.w-100 2. Anh /chị vui lòng cho biết độ tuổi ?
				ul
					li.radio 
						input#rd21(type="radio", name="rd2")
						label(for="rd21") Từ 18 đến 25 tuổi
					li.radio 
						input#rd22(type="radio", name="rd2")
						label(for="rd22") Từ 26 đến 35 tuổi
					li.radio 
						input#rd23(type="radio", name="rd2")
						label(for="rd23") Từ 36 đến 45 tuổi
					li.radio 
						input#rd24(type="radio", name="rd2")
						label(for="rd24") Trên 45 tuổi
			.form-group
				label.w-100 3. Anh /chị vui lòng cho biết nghề nghiệp hiện tại?
				ul
					li.radio 
						input#rd31(type="radio", name="rd3")
						label(for="rd31") Học sinh/sinh viên
					li.radio 
						input#rd32(type="radio", name="rd3")
						label(for="rd32") Lao động tự do
			.form-group
				label.w-100 3. Khi mua sữa tươi những yếu tố nào anh/chị thường quan tâm?
				ul
					li.checkbox 
						input#cb1(type="checkbox", name="cb1")
						label(for="cb1") Giá cả
					li.checkbox 
						input#cb2(type="checkbox", name="cb1")
						label(for="cb2") Chất lượng
					li.checkbox 
						input#cb3(type="checkbox", name="cb1")
						label(for="cb3") Thương hiệu
					li.checkbox 
						input#cb4(type="checkbox", name="cb1")
						label(for="cb4") Mẫu mã, bao bì
					li.checkbox 
						input#cb5(type="checkbox", name="cb1")
						label(for="cb5") Khẩu vị
			.btn-wrap.text-center
				input(type="submit", value="xác nhận")
