.container
	section.survey-page
		h1.home-title.text-center Khảo sát
		.survey-list
			.row
				.col-12.col-sm-6.col-md-6.col-lg-4
					a.survey-item(href="#!")
						.img
							img(src="img/sv1.jpg", alt="")
						.caption
							.name Ý kiến khách hàng về dòng sữa tươi mới TH true MILK
							time Đăng ngày 26 - 11 - 2018
				.col-12.col-sm-6.col-md-6.col-lg-4
					a.survey-item(href="#!")
						.img
							img(src="img/sv2.jpg", alt="")
						.caption
							.name Ý kiến khách hàng về dòng sữa tươi mới TH true MILK
							time Đăng ngày 26 - 11 - 2018
				.col-12.col-sm-6.col-md-6.col-lg-4
					a.survey-item(href="#!")
						.img
							img(src="img/sv3.jpg", alt="")
						.caption
							.name Ý kiến khách hàng về dòng sữa tươi mới TH true MILK
							time Đăng ngày 26 - 11 - 2018
				.col-12.col-sm-6.col-md-6.col-lg-4
					a.survey-item(href="#!")
						.img
							img(src="img/sv4.jpg", alt="")
						.caption
							.name Ý kiến khách hàng về dòng sữa tươi mới TH true MILK
							time Đăng ngày 26 - 11 - 2018
				.col-12.col-sm-6.col-md-6.col-lg-4
					a.survey-item(href="#!")
						.img
							img(src="img/sv5.jpg", alt="")
						.caption
							.name Ý kiến khách hàng về dòng sữa tươi mới TH true MILK
							time Đăng ngày 26 - 11 - 2018
				.col-12.col-sm-6.col-md-6.col-lg-4
					a.survey-item(href="#!")
						.img
							img(src="img/sv6.jpg", alt="")
						.caption
							.name Ý kiến khách hàng về dòng sữa tươi mới TH true MILK
							time Đăng ngày 26 - 11 - 2018
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
