.container
	section.store-page
		.row.no-gutters
			.col-12.col-md-4.col-lg-3
				.store-filter
					.title Lựa chọn cửa hàng
					.form-wrap
						.form-group
							label Tỉnh/ Thành phố
							select
								option HÀ NỘI
						.form-group
							label Quận/ Huyện
							select
								option ĐỐNG ĐA
					.store-list
						.item.active
							.store
								.icon
									img(src="img/store.png", alt="")
								.caption
									.name TH true mart Láng Hạ
									.des Địa chỉ: 81 Láng Hạ, Đống Đa, Hà Nội
									a.btn-choose(href="#!") Chọn cửa hàng
						.item
							.store
								.icon
									img(src="img/store.png", alt="")
								.caption
									.name TH true mart Huỳnh Thúc Kháng
									.des Địa chỉ: 40 Huỳnh Thúc Kháng, Thị Xã Gia Nghĩa, Đắk Nông
						.item
							.store
								.icon
									img(src="img/store.png", alt="")
								.caption
									.name TH true mart Thái Hà
									.des Địa chỉ: 148 Tây Sơn, Quang Trung, quận Đống Đa, Hà Nội
						.item
							.store
								.icon
									img(src="img/store.png", alt="")
								.caption
									.name TH true mart Nguyễn Văn Cừ
									.des Địa chỉ: 188 Nguyễn Văn cừ, Long Biên,
			.col-12.col-md-8.col-lg-9
				.store-map
					img(src="img/map.png", alt="")
