.container
	section.cart-page
		.row
			.col-12.col-lg-8
				//- .location-choice
					ul
						li.active
							a(href="#!") <i class="fa fa-home" aria-hidden="true"></i> Giao hàng tại nhà
						li
							a(href="#!") <i class="fa fa-building-o" aria-hidden="true"></i> Nhận tại cửa hàng
				.home-title ĐỊa chỉ giao hàng
				.address-list
					.item
						.address
							.name Nguyễn Hoàng yến
							.phone 090 XXX 1456
							.addr 123 Nguyễn Thị Minh Khai
								br
								|Phường Đakao -  Quận 1 -  Tp Hồ Chí Minh
							.default Địa chỉ mặc định
							.btns
								a(href="#!") 
									i.material-icons delete
								a(href="#!") 
									i.material-icons edit
								a(href="#!")
									i.material-icons location_on
					.item
						.address
							.name Nguyễn Hoàng yến
							.phone 090 XXX 1456
							.addr 123 Nguyễn Thị Minh Khai
								br
								|Phường Đakao -  Quận 1 -  Tp Hồ Chí Minh
							//- .default Địa chỉ mặc định
							.btns
								a(href="#!") 
									i.material-icons delete
								a(href="#!") 
									i.material-icons edit
								a(href="#!")
									i.material-icons location_on
			.col-12.col-lg-4
				.cart-sidebar
					.cart-price
						.group
							.label Tạm tính:
							.value 90.000 đ
						.group
							.label Giảm giá:
							.value 0 đ
					.cart-total
						.total Tổng tiền
							strong 90.000 đ
						.btn-wrap
							a.btn-continue(href="#!") Thanh toán
