.container
	section.promotion-page
		h1.home-title.text-center Mã khuyến mãi
		.input-code
			.code THtrueNut30
			.status 
				ul
					li Hạn sử dụng 
						span.text-black 30/02/2018
					li Trạng thái sử dụng
						span.text-black.text-uppercase Chưa sử dụng
			.form-wrap
				.form-group.code
					input(type="text" value="THtrueNut30")
					button.btn-copy COPY MÃ
		.content
			h5.text-uppercase
				strong Lorem Ipsum
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis 
			p.text-blue Lưu ý:
			ul
				li Lorem ipsum dolor sit amet, consectetur adipiscing elit
				li Commodo viverra maecenas accumsan lacus vel facilisis
				li Consectetur adipiscing elit
				li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis
