.container
	section.promotion-page
		h1.home-title Mã khuyến mãi
		.product-sort
			select.select-amount
				option Chưa sử dụng
		.promotion-code
			.row
				.col-12.col-md-6
					.code-item
						.img
							img(src="img/code1.jpg", alt="")
						.caption
							.code THtrueNut30
							time 
								i.mi event 
								span 05/10 - 30/02/2018
							.status chưa sử dụng
				.col-12.col-md-6
					.code-item
						.img
							img(src="img/code2.jpg", alt="")
						.caption
							.code THtrueNut30
							time 
								i.mi event 
								span 05/10 - 30/02/2018
							.status chưa sử dụng
				.col-12.col-md-6
					.code-item
						.img
							img(src="img/code3.jpg", alt="")
						.caption
							.code THtrueNut30
							time 
								i.mi event 
								span 05/10 - 30/02/2018
							.status chưa sử dụng
				.col-12.col-md-6
					.code-item
						.img
							img(src="img/code4.jpg", alt="")
						.caption
							.code THtrueNut30
							time 
								i.mi event 
								span 05/10 - 30/02/2018
							.status chưa sử dụng
				.col-12.col-md-6
					.code-item
						.img
							img(src="img/code5.jpg", alt="")
						.caption
							.code THtrueNut30
							time 
								i.mi event 
								span 05/10 - 30/02/2018
							.status chưa sử dụng
				.col-12.col-md-6
					.code-item
						.img
							img(src="img/code6.jpg", alt="")
						.caption
							.code THtrueNut30
							time 
								i.mi event 
								span 05/10 - 30/02/2018
							.status chưa sử dụng
				.col-12.col-md-6
					.code-item
						.img
							img(src="img/code7.jpg", alt="")
						.caption
							.code THtrueNut30
							time 
								i.mi event 
								span 05/10 - 30/02/2018
							.status chưa sử dụng
				.col-12.col-md-6
					.code-item
						.img
							img(src="img/code8.jpg", alt="")
						.caption
							.code THtrueNut30
							time 
								i.mi event 
								span 05/10 - 30/02/2018
							.status chưa sử dụng
