.container
	section.login-page
		.form-wrap
			.module-title vui Lòng nhập số điện thoại của bạn
			.form-group.mb-4
				input(type="text" placeholder="Nhập số điện thoại của bạn")
			input(type="submit", value="Tạo lại mật khẩu")
