.container
	section.account-page-wrap
		.account-sidebar
			.welcome
				label Xin chào
				.name Nguyễn hoàng yến
			.sidebar-link
				ul
					li
						a(href="#!")
							.icon
								img(src="img/ica1.png", alt="")
							span thông tin tài khoản
					li
						a(href="#!")
							.icon
								img(src="img/ica2.png", alt="")
							span Quản lý đơn hàng 
					li.active
						a(href="#!")
							.icon
								img(src="img/ica3.png", alt="")
							span Địa chỉ Giao hàng
					li
						a(href="#!")
							.icon
								img(src="img/ica4.png", alt="")
							span hình thức thanh toán
					li
						a(href="#!")
							.icon
								img(src="img/ica5.png", alt="")
							span đổi mật khẩu
					li
						a(href="#!")
							.icon
								img(src="img/ica6.png", alt="")
							span Đăng xuất

		.account-page
			.home-title Địa chỉ giao hàng
			.address-list
				.empty.text-center
					img(src="img/addr.png", alt="")
					div.mt-2 Bạn chưa có địa chỉ giao hàng
				.btn-wrap.text-center
					a.btn-addr(href="#!") Thêm địa chỉ
