.container
	section.product-detail
		.row
			.col-12.col-lg-6
				.product-slide
					.item
						a.img(href="img/prpic1.png" data-fancybox="pic")
							img(src="img/prpic1.png", alt="")
					.item
						a.img(href="img/prpic1.png" data-fancybox="pic")
							img(src="img/prpic1.png", alt="")
					.item
						a.img(href="img/prpic1.png" data-fancybox="pic")
							img(src="img/prpic1.png", alt="")
				.product-nav
					.item
						.img
							img(src="img/prpic1.png", alt="")
					.item
						.img
							img(src="img/prpic1.png", alt="")
					.item
						.img
							img(src="img/prpic1.png", alt="")
			.col-12.col-lg-6
				.product-info
					h1.product-name Sữa hạt macca TH true NUT 180ml
					.product-price
						.new 50.000 đ
					.product-buy
						.input-number
							.btn-spin -
							input(type="text" placeholder="1")
							.btn-spin +
						a.btn-buy(href="#!") Mua ngay
						a.btn-addtocart(href="#!") Thêm vào giỏ hàng
					.product-overview
						ul
							li
								label Thương hiệu
								span TH True Milk
							li
								label Xuất Xứ
								span Việt Nam
							li
								label Tình trạng
								span Còn hàng
							li
								label Quy cách đóng gói
								span 1 Lốc = 4 Hộp x 180ml
							li
								label Hạn sử dụng
								span 6 tháng kể từ ngày sản xuất
							li
								label Chia sẻ
								.share
									a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
									a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
									a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
									a(href="#!") <i class="fa fa-google-plus" aria-hidden="true"></i>
					.product-ad.mb-3
						a.d-block(href="#!")
							img(src="img/prad1.jpg", alt="")
					.product-gift
						.title
							img(src="img/gift.png", alt="")
							span Sản phẩm tặng kèm
						ul
							li.checkbox
								input#cb1(type="checkbox", name="cb")
								label(for="cb1") Sữa hạt macca TH true NUT 180ml được tặng 1  Sữa Chua Ăn Có Đường hương việt quất
							li.checkbox
								input#cb2(type="checkbox", name="cb")
								label(for="cb2") Sữa hạt macca TH true NUT 180ml được tặng 1  Sữa Chua Ăn ít đường hương dâu
							li.checkbox
								input#cb3(type="checkbox", name="cb")
								label(for="cb3") Sữa hạt macca TH true NUT 180ml được tặng 1  Sữa Chua Ăn Không có đường

	section.product-description
		.title Mô tả sản phẩm
		.content
			p 
				a(href="#!") Sữa hạt óc chó TH true NUT 
				|là sự kết hợp sáng tạo mang tính khoa học về dinh dưỡng giữa hạt óc chó giàu dinh dưỡng, sữa tươi sạch của trang trại TH và quả chà là, tốt hơn cho sức khỏe cả gia đình. 
			p Sản phẩm không dùng đường tinh luyện, có vị thanh ngọt tự nhiên từ quả chà là. Đây là loại quả có nguồn cung cấp đường tự nhiên với hàm lượng béo thấp, có chỉ số đường huyết thấp, có thể bổ sung vào thực đơn dinh dưỡng cho người tiểu đường với sự tư vấn của bác sỹ dinh dưỡng.
			h6.text-500.text-uppercase Thành phần
			p Dịch hạt óc chó (60%), dịch quả chà là, dịch yến mạch, sữa bò tươi, chất ổn định (E 418, E 471, E 410)
			h6.text-500.text-uppercase Thành phần dinh dưỡng trung bình trong 100ml
			table.mb-3(style="max-width: 300px")
				tr
					td Năng lượng/ Energy
					td 41,3 kcal
				tr
					td Hydrat cacbon/ Carbohydrate
					td 3,7 g
				tr
					td Chất đạm/ Protein
					td 1,0 g
				tr
					td Chất béo/ Fat
					td 2,5 g
			h6.text-500.text-uppercase THÀNH PHẦN DINH DƯỠNG TRUNG BÌNH TRONG 100ML 
			ul
				li Tốt cho tim mạch: Chứa Acid ellagic chống lại sự tích tụ mỡ bên trong động mạch, đặc biệt dồi dào hàm lượng Omega-3 làm giảm viêm và ngăn cản sự tích tụ mảng bám
				li Tốt cho não bộ: Dồi dào các chất chống oxi hóa bảo vệ thần kinh: Polyphenol, Axit béo n-3 α-linolenic, Folate, và Vitamin E giúp ngăn ngừa tổn thương thần kinh do các gốc tự do
				li Hỗ trợ làm chậm quá trình lão hóa: Các chất chống oxi hóa như Polyphenol, Flavonoids trong hạt óc chó ngăn ngừa tổn thương tế bào do các gốc tự do, từ đó làm chậm quá trình lão hóa chung cho cả não bộ và cơ thể
			h6.text-500.text-uppercase Hướng dẫn sử dụng và bảo quản
			ul
				li Để nơi khô ráo, thoáng mát. Tránh ánh nắng trực tiếp.
				li Ngon hơn khi uống lạnh.
				li Nên dùng hết sau khi mở, nếu còn bảo quản ngăn mát tủ lạnh, nên dùng hết sau 3 ngày.
	section.home-choice
		.title SẢN PHẨM CÙNG LOẠI
		.product-slick
			.item
				.product-item
					a.img(href="#!")
						img(src="img/p1.png", alt="")
					h2.name 
						a(href="#!") Sữa hạt và gấc TH true NUT 180 ml
					.price 20.000 đ
					.btns
						select.select-amount
							option 1
						a.btn-buy(href="#!") Mua ngay
			.item
				.product-item
					a.img(href="#!")
						img(src="img/p2.png", alt="")
					h2.name
						a(href="#!") Thức uống lên men từ mầm lúa mạch TH true MALT lon 500 ml
					.price 12.500 đ
					.btns
						select.select-amount
							option 1
						a.btn-buy(href="#!") Mua ngay
			.item
				.product-item
					a.img(href="#!")
						img(src="img/p3.png", alt="")
					h2.name
						a(href="#!") Kem hộp TH true ICE CREAM sô cô la nguyên chất
					.price 60.000 đ
					.btns
						select.select-amount
							option 1
						a.btn-buy(href="#!") Mua ngay
			.item
				.product-item
					a.img(href="#!")
						img(src="img/p4.png", alt="")
					h2.name
						a(href="#!") Sữa tươi hữu cơ TH true MILK Organic 1 lít
					.price 55.000 đ
					.btns
						select.select-amount
							option 1
						a.btn-buy(href="#!") Mua ngay
			.item
				.product-item
					a.img(href="#!")
						img(src="img/p5.png", alt="")
					h2.name
						a(href="#!") Sữa tươi TOPKID từ sữa Organic vị kem Vanilla tự nhiên 180 ml
					.price 50.000 đ
					.btns
						select.select-amount
							option 1
						a.btn-buy(href="#!") Mua ngay
	section.home-choice
		.title Sản phẩm GỢI Ý
		.product-slick
			.item
				.product-item
					a.img(href="#!")
						img(src="img/p1.png", alt="")
					h2.name 
						a(href="#!") Sữa hạt và gấc TH true NUT 180 ml
					.price 20.000 đ
					.btns
						select.select-amount
							option 1
						a.btn-buy(href="#!") Mua ngay
			.item
				.product-item
					a.img(href="#!")
						img(src="img/p2.png", alt="")
					h2.name
						a(href="#!") Thức uống lên men từ mầm lúa mạch TH true MALT lon 500 ml
					.price 12.500 đ
					.btns
						select.select-amount
							option 1
						a.btn-buy(href="#!") Mua ngay
			.item
				.product-item
					a.img(href="#!")
						img(src="img/p3.png", alt="")
					h2.name
						a(href="#!") Kem hộp TH true ICE CREAM sô cô la nguyên chất
					.price 60.000 đ
					.btns
						select.select-amount
							option 1
						a.btn-buy(href="#!") Mua ngay
			.item
				.product-item
					a.img(href="#!")
						img(src="img/p4.png", alt="")
					h2.name
						a(href="#!") Sữa tươi hữu cơ TH true MILK Organic 1 lít
					.price 55.000 đ
					.btns
						select.select-amount
							option 1
						a.btn-buy(href="#!") Mua ngay
			.item
				.product-item
					a.img(href="#!")
						img(src="img/p5.png", alt="")
					h2.name
						a(href="#!") Sữa tươi TOPKID từ sữa Organic vị kem Vanilla tự nhiên 180 ml
					.price 50.000 đ
					.btns
						select.select-amount
							option 1
						a.btn-buy(href="#!") Mua ngay
