.container
	section.product-page-wrap
		.product-filter
			.filter-toggle 
				i.mi close
			.filter-wrap
				.filter-group
					.filter-title Hương vị
					ul.filter-list
						li
							a.active(href="#!") Có đường
						li
							a(href="#!") Không đường
						li
							a(href="#!") Việt quất
						li
							a(href="#!") Dâu
						li
							a.active(href="#!") Dâu chuối
						li
							a(href="#!") Cam
						li
							a(href="#!") Táo
						li
							a(href="#!") Táo chuối
					a.btn-showmore(href="#!") Xem thêm
				.filter-group
					.filter-title Thể tích
					ul.filter-list
						li
							a.active(href="#!") 110 ml
						li
							a(href="#!") 150 ml
						li
							a(href="#!") 180 ml
						li
							a(href="#!") 200 ml
					a.btn-showmore(href="#!") Xem thêm
				.filter-group
					.filter-title Trọng lượng
					ul.filter-list
						li
							a.active(href="#!") 100 g
						li
							a(href="#!") 400 g
						li
							a(href="#!") 900 g
						li
							a(href="#!") 1500 g
					a.btn-showmore(href="#!") Xem thêm
				.filter-group
					.filter-title Khoảng giá
					#range-slider
		.product-page
			.home-title Sữa tươi tiệt trùng
			.product-sort
				select
					option(value="") Hàng bán chạy
				.change-view
					a.btn-item(href="#!") 
						i.mi view_module
					a.btn-list.active(href="#!")
						i.mi view_list
			.btn-showfilter 
				i.mi filter_list
				|Mở bộ lọc
			.product-list
				.row.row-sm
					.col-6.col-md-4.col-lg-3.col-wide
						.product-item
							a.img(href="#!")
								img(src="img/p1.png", alt="")
							.caption
								.info
									h2.name 
										a(href="#!") Sữa hạt và gấc TH true NUT 180 ml
									.des
										ul
											li 
												span Dinh dưỡng tự nhiên tốt nhất cho sức khoẻ con người từ sữa tươi Organic (hữu cơ) của trang trại TH
								.btns
									.price 20.000 đ
									select.select-amount
										option 1
									a.btn-buy(href="#!") Mua ngay
					.col-6.col-md-4.col-lg-3.col-wide
						.product-item
							a.img(href="#!")
								img(src="img/p2.png", alt="")
							.caption
								.info
									h2.name
										a(href="#!") Thức uống lên men từ mầm lúa mạch TH true MALT lon 500 ml
									.des
										ul
											li  
												span Sử dụng hoàn toàn sữa tươi sạch từ trang trại TH
											li  
												span Xử lý bằng công nghệ Thanh Trùng hiện đại
											li  
												span Bao bì chất lượng cao giúp bảo quản sản phẩm an toàn
								.btns
									.price 12.500 đ
									select.select-amount
										option 1
									a.btn-buy(href="#!") Mua ngay
					.col-6.col-md-4.col-lg-3.col-wide
						.product-item
							a.img(href="#!")
								img(src="img/p3.png", alt="")
							.caption
								.info
									h2.name
										a(href="#!") Kem hộp TH true ICE CREAM sô cô la nguyên chất
									.des
										ul
											li  
												span Dinh dưỡng tự nhiên tốt nhất cho sức khoẻ con người từ sữa tươi Organic (hữu cơ) của trang trại TH
											li  
												span Công thức TOPKID giúp trẻ phát triển trí não, chiều cao, đề kháng và hấp thu
								.btns
									.price 60.000 đ
									select.select-amount
										option 1
									a.btn-buy(href="#!") Mua ngay
					.col-6.col-md-4.col-lg-3.col-wide
						.product-item
							a.img(href="#!")
								img(src="img/p4.png", alt="")
							.caption
								.info
									h2.name
										a(href="#!") Sữa tươi hữu cơ TH true MILK Organic 1 lít
									.des
										ul
											li  
												span Dinh dưỡng tự nhiên tốt cho sức khoẻ từ sữa tươi sạch nguyên chất của trang trại TH
								.btns
									.price 55.000 đ
									select.select-amount
										option 1
									a.btn-buy(href="#!") Mua ngay
			.pages
				ul.pagination
					li.active
						a(href="#!") 1
					li
						a(href="#!") 2
					li
						a(href="#!") 3
