.container
	section.cart-page
		.home-title lỰA CHỌN ĐỊA chỉ Giao hàng
		.address-list
			.item
				.address
					.name Nguyễn Hoàng yến
					.phone 090 XXX 1456
					.addr 123 Nguyễn Thị Minh Khai
						br
						|Phường Đakao -  Quận 1 -  Tp Hồ Chí Minh
					.default Địa chỉ mặc định
					.btns
						a(href="#!") 
							i.material-icons delete
						a(href="#!") 
							i.material-icons edit
						a(href="#!")
							i.material-icons location_on
			.item
				.address
					.name Nguyễn Hoàng yến
					.phone 090 XXX 1456
					.addr 123 Nguyễn Thị Minh Khai
						br
						|Phường Đakao -  Quận 1 -  Tp Hồ Chí Minh
					//- .default Địa chỉ mặc định
					.btns
						a(href="#!") 
							i.material-icons delete
						a(href="#!") 
							i.material-icons edit
						a(href="#!")
							i.material-icons location_on
		.btn-wrap.text-center
			a.btn-addr(href="#!") Thêm địa chỉ giao hàng
