.container
	section.cart-page
		.row
			.col-12.col-lg-8
				.location-choice
					ul
						li
							a(href="#!") <i class="fa fa-home" aria-hidden="true"></i> Giao hàng tại nhà
						li.active
							a(href="#!") <i class="fa fa-building-o" aria-hidden="true"></i> Nhận tại cửa hàng
				.home-title ĐỊa chỉ giao hàng
				.address-list
					.item
						.address
							.name TH true mart Láng Hạ
							.phone 024 666 888
							.addr 81 Láng Hạ, Đống Đa, Hà Nội
								a.d-block.text-500(href="#!") thtruemart81langha@thmilk.vn

							//- .default Địa chỉ mặc định
							.btns
								a(href="#!") 
									i.material-icons edit
				.payment-info
					.home-title Thông tin thanh toán
					.shipping-info
						ul
							li Ngày giao hàng:
								span 11/11/2018
							li Giờ nhận hàng:
								span 19:00 PM 
					.payment-list
						.item
							.payment
								.bank.text-center
									img(src="img/acb.png", alt="")
								.name Nguyễn Hoàng yến
								.phone XXCX - XXXX - XXXX - 5382
								.des.text-uppercase Ngày hết hạn
									span.d-block.text-black 22/01
								.btns
									a(href="#!") 
										i.material-icons edit
			.col-12.col-lg-4
				.cart-sidebar
					.cart-price
						.group
							.label Tạm tính:
							.value 90.000 đ
						.group
							.label Giảm giá:
							.value 0 đ
					.cart-total
						.total Tổng tiền
							strong 90.000 đ
						.btn-wrap
							a.btn-continue(href="#!") Thanh toán
