.container
	section.account-page-wrap
		.account-sidebar
			.welcome
				label Xin chào
				.name Nguyễn hoàng yến
			.sidebar-link
				ul
					li.active
						a(href="#!")
							.icon
								img(src="img/ica1.png", alt="")
							span thông tin tài khoản
					li
						a(href="#!")
							.icon
								img(src="img/ica2.png", alt="")
							span Quản lý đơn hàng 
					li
						a(href="#!")
							.icon
								img(src="img/ica3.png", alt="")
							span Địa chỉ Giao hàng
					li
						a(href="#!")
							.icon
								img(src="img/ica4.png", alt="")
							span hình thức thanh toán
					li
						a(href="#!")
							.icon
								img(src="img/ica5.png", alt="")
							span đổi mật khẩu
					li
						a(href="#!")
							.icon
								img(src="img/ica6.png", alt="")
							span Đăng xuất

		.account-page
			.home-title Thông tin tài khoản
			.account-form.form-wrap
				.row.mb-4
					.form-group.col-12.col-md-6.col-lg-4
						label Họ tên
						.data Nguyễn Hoàng Yến
					.form-group.col-12.col-md-6.col-lg-4
						label Số điện thoại
						.data 090 xxx 1253
					.form-group.col-12.col-md-6.col-lg-4
						label Email
						.data info@thtruemart.com.vn
					.form-group.col-12.col-md-6.col-lg-4
						label Giới tính
						.data Nữ
					.form-group.col-12.col-md-6.col-lg-4
						label Ngày sinh
						.data xx/xx/xxxx
					.form-group.col-12.col-md-6.col-lg-4
						label Số CMND
						.data 090 xxx 1253
					.form-group.col-12.col-md-6.col-lg-4
						label ĐỊa chỉ
						.data P.Phạm Ngũ Lão - Q.1 -  TP Hồ Chí Minh
							br
							| 112 Đường Trần Hưng Đạo
				.btn-edit Sửa thông tin
