.container
	section.account-page-wrap
		.account-sidebar
			.welcome
				label Xin chào
				.name Nguyễn hoàng yến
			.sidebar-link
				ul
					li.active
						a(href="#!")
							.icon
								img(src="img/ica1.png", alt="")
							span thông tin tài khoản
					li
						a(href="#!")
							.icon
								img(src="img/ica2.png", alt="")
							span Quản lý đơn hàng 
					li
						a(href="#!")
							.icon
								img(src="img/ica3.png", alt="")
							span Địa chỉ Giao hàng
					li
						a(href="#!")
							.icon
								img(src="img/ica4.png", alt="")
							span hình thức thanh toán
					li
						a(href="#!")
							.icon
								img(src="img/ica5.png", alt="")
							span đổi mật khẩu
					li
						a(href="#!")
							.icon
								img(src="img/ica6.png", alt="")
							span Đăng xuất

		.account-page
			.home-title Thông tin tài khoản
			.account-form.form-wrap
				.row.mb-4
					.form-group.col-12.col-md-6
						label Họ tên
						input(type="text" placeholder="Họ và tên")
					.form-group.col-12.col-md-6
						label Số điện thoại
						input(type="text" placeholder="098 xxx xxxx")
					.form-group.col-12.col-md-6
						label Email
						input(type="text" placeholder="info@thtruemart.com.vn")
					.form-group.col-12.col-md-6
						label Giới tính
						ul.gender
							li.checkbox
								input#rd1(type="radio", name="gender")
								label(for="rd1") Nam
							li.checkbox
								input#rd2(type="radio", name="gender")
								label(for="rd2") Nữ
					.form-group.col-12.col-md-6
						label Ngày sinh
						ul.birthday
							li
								select
									option 08
							li
								select
									option 11
							li
								select
									option 2001
					.form-group.col-12.col-md-6
						label Số CMND
						input(type="text" placeholder="215 xxx xxx")
					.form-group.col-12.col-md-6
						label ĐỊa chỉ
						input(type="text" placeholder="123 Nguyễn Thị Minh Khai")
					.form-group.col-12.col-md-6
						label Phường / Xã
						select
							option Đakao
					.form-group.col-12.col-md-6
						label Quận / Huyện
						select
							option Quận 1
					.form-group.col-12.col-md-6
						label Tỉnh / Thành
						select
							option Tp.HCM
				input(type="submit", value="Lưu thông tin")
