.container
	section.account-page-wrap
		.account-sidebar
			.welcome
				label Xin chào
				.name Nguyễn hoàng yến
			.sidebar-link
				ul
					li
						a(href="#!")
							.icon
								img(src="img/ica1.png", alt="")
							span thông tin tài khoản
					li
						a(href="#!")
							.icon
								img(src="img/ica2.png", alt="")
							span Quản lý đơn hàng 
					li
						a(href="#!")
							.icon
								img(src="img/ica3.png", alt="")
							span Địa chỉ Giao hàng
					li.active
						a(href="#!")
							.icon
								img(src="img/ica4.png", alt="")
							span hình thức thanh toán
					li
						a(href="#!")
							.icon
								img(src="img/ica5.png", alt="")
							span đổi mật khẩu
					li
						a(href="#!")
							.icon
								img(src="img/ica6.png", alt="")
							span Đăng xuất

		.account-page
			.home-title Hình thức thanh toán
			.payment-account
				.row
					.col-12.col-lg-6
						.payment.active
							.icon
								img(src="img/ttatm.png", alt="")
							.caption
								.name Thanh toán bằng thẻ ATM
								.default
					.col-12.col-lg-6
						.payment
							.icon
								img(src="img/ttmaster.png", alt="")
							.caption
								.name Thanh toán bằng thẻ thanh toán quốc tế
								.default
